<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <style>
        .error {
            color: red;
        }
    </style>
</head>
<!--action="/admin/addPlane"
 data-th-object="${plane}"-->
<body>
  <form th:method="POST" th:action="@{/admin/addPlane}">
      <input type="text" name="planeName" placeholder="Plane name"/>
      <p th:if="${planeName}" class="error">[[${planeName}]]</p>
      <br/>
      <input type="number" value="0" name="slSeat" placeholder="Quantity seat">
      <p th:if="${quantitySeat}" class="error">[[${quantitySeat}]]</p>
      <br/>
      <select name="airlineID">
          <th:block th:each="airlineid : ${airlineCompanies}">
              <option th:utext="${airlineid.getAirlineID()}">..</option>
          </th:block>
      </select>
      <br/>
      <button type="submit" value="add">add</button>
  </form>
  <a href="/admin/listPlane">Plane list</a>

</body>
</html>